@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

@font-face {
  font-family: 'n';
  src: url('./fonts/n.ttf') format('true type'),
    url('./fonts/n.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#root {
  height: 100%;
}
