.manga_card {
  margin: 10px 10px;
  color: #fbdaf9;
  letter-spacing: 1px;
  position: relative;
  min-width: 200px;
}

.manga_card img {
  width: 200px;
  height: 300px;
  border-radius: 10px;
}

.custom {
  position: absolute;
  top: 35%;
  left: 35%;
}
