.nav_container {
  width: 90%;
  margin: 20px;
  padding: 20px;
  font-size: 18px;
  color: #fbdaf9;
  border-radius: 10px;
  background-color: #204591;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.2);
}

.nav-menu {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
}

.nav-menu a {
  cursor: pointer;
  margin: 0px 25px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fbdaf9;
  text-decoration: none;
}

.nav_left {
  margin-right: auto;
  font-size: 40px;
  letter-spacing: 1px;
  font-family: 'n';
}
