.home_container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.searchbar {
  margin-top: 20px;
  width: 50%;
  background-color: #fff;
  border: 2px solid #f6aafe;
  padding: 25px 10px;
  border-radius: 12px;
  font-size: 25px;
  color: #204591;
  height: 30px;
  outline: none;
  text-indent: 10px;
}

.searchbar::placeholder {
  color: #204591;
}
